.example-spacer {
    flex: 1 1 auto;
  }

.mat-toolbar {
    background-color: #1E1E20;
    margin-bottom: 0px;
}

.mat-toolbar-row {
    margin-bottom: 0px;
}

.mat-toolbar span {
    font-size: xx-large;
}
