<div class="content">
    <!-- <div class="row"> -->
    <div class="column">
        <h1>MENU</h1>
        <div>
            <div>
                <section style="margin-bottom: 10px;">
                    <div class="example-button-row">
                        <button routerLink='/lobby' mat-raised-button color="primary"
                            style="width: 100%;">Lobby</button>

                    </div>
                </section>

                <section style="margin-bottom: 10px;">
                    <div class="example-button-row">
                        <button routerLink='/history' mat-raised-button color="warn"
                            style="width: 100%;">History</button>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- </div> -->