<div class="content">
    <!-- <div class="row"> -->
    <div class="column">
        <h1>WAITING ROOM</h1>
        <div>
            <div>
                <label>WAITING ROOM ...</label>
                <!-- <input type="text" placeholder="Fill the id room"> -->
                <section>
                    <div class="example-button-row">
                        <button routerLink='/home' mat-raised-button color="warn" style="width: 100%;">READY</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->