<div class="content">
    <!-- <div class="row"> -->
    <div class="column">
        <h1>CREATE ROOM</h1>
        <div>
            <div>
                <section style="margin-bottom: 10px;">
                    <div class="example-button-row">
                        <button routerLink='/findroom' mat-raised-button color="primary" style="width: 100%;">Find
                            Room</button>

                    </div>
                </section>

                <div style="margin-left: 47%;margin-right: 50%;">OR</div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Create New Room</mat-label>
                        <input matInput #message maxlength="256" placeholder="Ex.Room01">
                    </mat-form-field>

                </div>
                <section style="margin-bottom: 10px;">
                    <div class="example-button-row">
                        <button mat-raised-button color="warn" style="width: 100%;">Create Room</button>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- </div> -->