<div class="content">
    <!-- <div class="row"> -->
    <div class="column">
        <h1>MENU</h1>
        <div>
            <div>
                <section style="margin-bottom: 10px;">
                    <div class="example-button-row">
                        <button routerLink='/waitingroom' mat-raised-button color="primary" style="width: 100%;">Waiting
                            room</button>

                    </div>
                </section>

                <h3 style="margin-left: 47%;margin-right: 50%;">OR</h3>
                <section style="margin-bottom: 10px;">
                    <div class="example-button-row">
                        <button routerLink='/history' mat-raised-button color="warn"
                            style="width: 100%;">History</button>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
<!-- </div> -->