<div class="content">
    <!-- <div class="row"> -->
    <div class="column">
        <h1>Join Room</h1>
        <div>
            <div>
                <label for="idroom">ROOM ID</label>
                <input type="text" placeholder="Fill the id room">
                <section>
                    <div class="example-button-row">
                        <button mat-raised-button color="warn" style="width: 100%;"
                            routerLink='/waitingroom'>FIND</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->